* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap_size {
    width: 1150px;
}

.block_padding {
    padding-left: calc((100% - 1150px) / 2);
    padding-right: calc((100% - 1150px) / 2);
}

.block_display_flex {
    display: flex;
}

.block_align-items_center {
    align-items: center;
}