@media screen and (max-width: 480px) {
    .mobile-menu {
        display: unset;
    }

    .wrap_width {
        width: 440px;
        min-width: 220px;
    }

    .block_padding {
        padding: 50px 20px;
    }

    /*top-header*/
    .top-header {
        padding-top: 20px;
        padding-bottom: 0;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        overflow: hidden;
        background-color: #ffffff;
        border-bottom: 1px solid #EAEEF2;
    }

    .top-header__logo {
    }

    .top-header__menu {
        display: none;
    }

    /*screen-1*/
    .screen-1 {
        padding-top: 120px;
        padding-bottom: 0;
        height: 490px;
    }

    .screen-1__left {
        padding: 0;
    }

    .screen-1__left-h {
        font-size: 55px;
        line-height: 55px;
        width: 350px;
        margin-bottom: 10px;
    }

    .screen-1__right-img {
        display: none;
    }

    .screen-1__bottom {
        top: 440px;
        z-index: 1;
    }

    .screen-1__bottom-p {
        margin-bottom: 15px;
    }

    /*screen-2*/
    .screen-2 {
        padding-top: 120px;
    }

    .screen-2__wrap {
        height: auto;
    }

    .screen-2__left-img {
        display: none;
    }

    .screen-2__right-h {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    /*screen-3*/
    .screen-3 {
        height: auto;
        width: 440px;
    }

    .screen-3__h-top {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .screen-3__wrap {
        display: flow;
        flex-flow: column;
        align-items: center;
        border: 1px solid #EAEEF2;
        margin-bottom: 20px;
    }

    .screen-3__column {
        width: 420px;
        margin-bottom: 15px;
    }

    .screen-3__img {
        margin: 0;
    }

    .screen-3__h {
        margin: 0;
    }

    .screen-3__p {
        width: 420px;
    }

    /*screen-4*/
    .screen-4 {
        height: auto;
    }

    .screen-4__h-top {
        width: 440px;
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .screen-4__wrap {
        display: flow;
        flex-flow: column;
        align-items: center;
        border: 1px solid #ffffff;
    }

    .screen-4__column {
        width: 420px;
        margin-bottom: 15px;
    }

    .screen-4__img {
        margin: 0;
    }

    .screen-4__h {
        margin: 0;
    }

    .screen-4__p {
        width: 420px;
    }

    /*screen-5*/
    .screen-5 {
        height: auto;
    }

    .screen-5__wrap {
        display: flow;
        flex-flow: column;
        align-items: center;
    }

    .screen-5__left {
        padding: 0;
        width: unset;
        margin-bottom: 33px;
    }

    .screen-5__left-h {
        line-height: 27px;
    }

    .screen-5__right {
        width: 440px;
        float: left;
        padding: 0 10px;
    }

    .screen-5__right_img {
        width: 200px;
        height: 84px;
        float: left;
        margin: 0;
    }

    .screen-5__right_img:nth-child(2n) {
        padding-top: 44px;
    }

    .screen-5__right_img:nth-child(2n-1) {
        margin-right: 20px;
    }

    /*screen-6*/
    .screen-6 {
        height: auto;
    }

    .screen-6__wrap {
        height: 317px;
        padding: 0;
        border: 1px solid #FDECED;
    }

    .screen-6__right-img {
        display: none;
    }

    .screen-6__left {
        padding-left: 10px;
    }

    .screen-6__left-h {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .screen-6__left-p {
        width: 420px;
        margin-bottom: 20px;
    }

    /*screen-7*/
    .screen-7 {
        height: auto;
    }

    .screen-7__wrap {
        padding: 50px 10px;
        display: flow;
        flex-flow: column;
        align-items: flex-start;
        width: 440px;
        height: auto;
    }

    .screen-7__left {
        width: 420px;
    }

    .screen-7__left-h {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .screen-7__left-p {
        margin-bottom: 20px;
    }

    /*footer*/
    .footer {
        padding: 20px;
        height: auto;
    }

    .footer__logo-line {
        display: none;
    }

    .footer__menu-line {
        display: none;
    }

    .footer__trademark-line {
        justify-content: space-between;
        align-items: flex-end;
        grid-column-gap: unset;
    }

    .footer__trademark-links {
        display: unset;
    }

    .footer__trademark-link {
        margin-bottom: 10px;
    }

    .footer__trademark-link:last-child {
        margin-bottom: 0;
    }

    /*button*/
    .button__theme_white {
        color: #000000;
        background: #ffffff;
        border: 1px solid white;
        text-shadow: 0 0 1px #333, 0 0 1px #333;
        box-shadow: 0 0 2px #333, 0 4px 4px #333;
    }

    .button__theme_black {
        color: #ffffff;
        background: #000000;
        border: 1px solid #000000;
        text-shadow: 0 0 1px #ffffff, 0 0 1px whitesmoke;
        box-shadow: 0 2px 2px silver, 0 4px 4px #333;

    }

    .button__theme_pink {
        color: #000000;
        background: #F7B2B7;
        border: 1px solid #F7B2B7;
        text-shadow: 0 0 1px #333, 0 0 1px #333;
        box-shadow: 0 0 2px #333, 0 4px 4px #333;
    }

}